html {
  font-family: "Roboto", sans-serif;
}

p.errormsg {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
p {
  background-color: #667eea1a;
  border-radius: 2px;
  padding: 3px;
  font-size: 10px;
  font-weight: 500;
}

p.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
