annotated-types==0.6.0
anyio==3.7.1
async-generator==1.10
asyncio==3.4.3
attrs==23.1.0
azure-common==1.1.28
azure-core==1.29.4
azure-identity==1.14.0
azure-mgmt-authorization==4.0.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.0
bcrypt==4.1.2
black==22.10.0
boto3==1.26.138
botocore==1.29.138
certifi==2023.7.22
cf2tf==0.5.0
cffi==1.16.0
cfgv==3.3.1
cfn-flip==1.3.0
charset-normalizer==3.3.2
click==8.1.7
click-log==0.4.0
colorama==0.4.6
cryptography==42.0.5
decorator==5.1.1
distlib==0.3.6
dnspython==2.4.2
ecdsa==0.18.0
et-xmlfile==1.1.0
excel2json==1.0.1
excel2json-3==0.1.6
exceptiongroup==1.1.1
fastapi==0.104.1
filelock==3.12.0
gitdb==4.0.10
GitPython==3.1.31
greenlet==3.0.1
h11==0.14.0
identify==2.5.22
idna==3.4
inflect==7.0.0
iniconfig==2.0.0
isodate==0.6.1
jmespath==1.0.1
jose==1.0.0
Levenshtein==0.21.0
msal==1.24.1
msal-extensions==1.0.0
mypy-extensions==0.4.3
names==0.3.0
nodeenv==1.7.0
numpy==1.24.2
openpyxl==3.1.2
outcome==1.2.0
packaging==23.1
pandas==1.5.3
passlib==1.7.4
pathspec==0.10.1
Pillow==9.5.0
platformdirs==3.2.0
pluggy==1.0.0
portalocker==2.8.2
pre-commit==3.2.2
prompt-toolkit==1.0.14
psutil==5.9.4
psycopg2-binary==2.9.9
pyasn1==0.5.1
pycparser==2.21
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.15.1
PyInquirer==1.0.3
PyJWT==2.8.0
pymongo==4.6.0
PySocks==1.7.1
pyte==0.8.1
pytest==7.3.1
pytest-html-reporter==0.2.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-Levenshtein==0.21.0
python-multipart==0.0.9
pytz==2022.7.1
PyYAML @ file:///tmp/pyyaml-20231019-6990-metqmc/PyYAML-6.0.1
rapidfuzz==3.0.0
rarfile==4.0
regex==2023.5.5
requests==2.31.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.6.1
selenium==4.9.0
shellescape==3.8.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.23
starlette==0.27.0
thefuck==3.32
thefuzz==0.19.0
tomli==2.0.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.24.0
virtualenv==20.22.0
wcwidth==0.2.6
webdriver-manager==3.8.6
websockets==12.0
wsproto==1.2.0
xlrd==2.0.1
